---
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import Header from '../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
			}
			h2 {
				margin: 2rem 0 1.25rem;
				font-size: 1.25rem;
			}
			ul.post-list {
				list-style: none;
				padding: 0;
				margin: 0;
			}
			ul.post-list li {
				margin-bottom: 1.5rem;
			}
			ul.post-list li a {
				font-size: 1.1rem;
				font-weight: 600;
				text-decoration: none;
				color: rgb(var(--black));
			}
			ul.post-list li a:hover {
				color: rgb(var(--accent));
			}
			ul.post-list .date {
				display: block;
				font-size: 0.875rem;
				color: rgb(var(--gray));
				margin-top: 0.2rem;
			}
			ul.post-list .description {
				display: block;
				font-size: 0.95rem;
				color: rgb(var(--gray));
				margin-top: 0.25rem;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<h2>Writing</h2>
			<ul class="post-list">
				{
					posts.map((post) => (
						<li>
							<a href={`/blog/${post.id}/`}>{post.data.title}</a>
							<span class="date">
								<FormattedDate date={post.data.pubDate} />
							</span>
							<span class="description">{post.data.description}</span>
						</li>
					))
				}
			</ul>
		</main>
		<Footer />
	</body>
</html>
